<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Page</title>
	<link rel="stylesheet" href="static/styles/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-color">
	  <a class="navbar-brand" href="#">
	    <img src="static/assets/logo.png" width="113" height="98" alt="Logo">
	  </a>
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item">
	      <a class="nav-link" href="threads.html">Threads</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="calendar.html">Calendar</a>
	    </li>
	  </ul>
	  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="login.html">Log In</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="signup.html">Sign Up</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div class="container-fluid">
		<div class="row justify-content-between align-items-center signup-container">
			<div class="col-md-6 col-sm-8 col-xs-12 form-col">
				<form class="form-container">
					<h3 class="text-center mb-4">Sign Up</h3>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Confirm Password">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Sign Up</button>
					<p class="text-center mt-2">Already have an account? <a href="login.html">Log in</a></p>
				</form>
			</div>
			<div class="col-md-6 col-sm-4 col-xs-12 text-center">
				<img src="static/assets/running1.png" alt="Running Image">
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
