{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<head>
    <title>Sign Up Page</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row justify-content-between align-items-center signup-container">
            <div class="col-md-6 col-sm-8 col-xs-12 form-col">

                <form class="form-container" method="POST" action="{{ url_for('signup') }}">
                    <h3 class="text-center mb-4">Sign Up</h3>
                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% for category, message in messages %}
                                            <div class="alert custom-alert alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}

                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    <p class="text-center mt-2">Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
                </form>
                
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12 text-center">
                <img src="../static/assets/running1.png" alt="Running Image">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock %}
